<table class="table-auto border border-gray-300">
    <thead>
        <tr>
            <th>App ID</th>
            <th>Created At</th>
            <th>Last Updated At</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td><%= link_to( @app.id, admin_app_path(@app)) %></td>
        <td><%= @app.created_at %></td>
        <td><%= @app.updated_at %></td>
    </tr>
    </tbody>
</table>
<br />

Users: <%= link_to("Users", admin_app_users_path(app_id: @app.id)) %>
